* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: #FFFDF0;
    max-width: 100%;
    overflow-x: hidden;
    margin: 1vmin;
  }

#header {
    position: fixed;
    top:0
}
#contact {
    margin-top: 10vmin;
    margin-left: 6vmin;
    font-size: 1.5vmin;
    text-align: right;
     /* font-family: 'Lato', sans-serif;  */
}

#first-name {
    margin: 6vmin;
    font-size: 6vmin;
    font-family: 'Lato', sans-serif;
}

#arrow {
    top:0;
    margin-top: 15vmin;
    height:20vmin;
    margin-left: 27vmin;
} 

 #proj {
    margin-top: -25vmin;
    font-size: 5vmin;
    font-family: 'Lato', sans-serif;
}

#bottom {
    margin-top: 30vmin;
    margin-left: 35vmin;
}

#intro {
    font-family: 'Poppins', sans-serif;
    font-size: 4vmin;
}

#projects {
    margin-top: 30vmin;
}

#aca {
    margin-top: 20vmin;
    font-size: 5vmin;
    font-family: 'Lato', sans-serif;

}

#acaimg {
    margin-bottom: 15vmin;
    margin-top: 2vmin;
    width: 20vmin;
}

a {
    color: #003BFF;
  }


.titlelink {
    font-family: 'Poppins', sans-serif;
    font-size: 5vmin;
    margin-top: 50vmin;
    position: relative;
}

.titlelink2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vmin;
    margin-top: 50vmin;
    position: relative;

}

.desc {
    font-family: 'Poppins', sans-serif;
    font-size: 3vmin;
    left: 0;
    top: 0;
    position: relative;
}

.acadesc {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vmin;
    left: 0;
    top: 0;
    position: relative;
}

#frankimg {
    margin-top: -20vmin;
    width: 50vmin;
    margin-left: 90vmin;
    margin-bottom: 20vmin;
}

#frank {
    top:0;
}

#desc2 {
    margin-left: 60vmin;
    /* text-align: right; */

}

#title2 {
    margin-left: 60vmin;
    margin-top: 40vmin;
}

#recessimg {
    margin-top: -20vmin;
    width: 50vmin;
    /* margin-left: 90vmin;
    margin-bottom: 20vmin; */
}

.iosimg {
    margin-left: 100vmin;
    width: 25vmin;
    margin-top: -30vmin;
}

/* #ios2 {
    margin-bottom: 10vmin;
    /* text-align: right; }*/

/* #ios {
    margin-top: 15vmin;
    /* text-align: right; */


#cloud {
    margin-top: 7vmin;
}

#alg {
    margin-top: 7vmin;
    margin-bottom: 14vmin;
}
.academictitle {
    font-size: 3.5vmin;
    margin-top: 50vmin;
    position: relative;
}

.footer {
    font-size: 1.75vmin;
    margin-left: 2px auto 0 auto;
    text-align: center;
    height: 10vmin;
    font-family: 'Lato', sans-serif;
}

.foot {
    color: black;
    text-decoration: none;
}

.foot:hover {
    text-decoration: underline;
}